@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
    --cor-principal: #993399;
    --cor-secundaria: #BB54B9;
    --cor-rosa: #DD74DB;
    --cor-lilás: #FF95FD;
    --cor-fundo: #FFB6FF;
    
}

