@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
    --cor-principal: #845EC2;
    --cor-secundaria: #D65DB1;
    --cor-rosa: #FF6F91;
    --cor-laranja: #FF9671;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}
