@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
    --cor-principal: #993399;
    --cor-secundaria: #ff7dfd;
    --cor-verde: #23bce2;
    --cor-roxo: #441643;
    --cor-fundo: #b6d0ff;
    
}

