.carrossel__titulo {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-lide img {
    width: 100%;
}

.wiper-button-prev,
.wiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background: var(--cor-secundaria);
    box-shadow: 0px 4px 4px rgba(0, 0, 0 , 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;

}
.card__descricao {

    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card_botoes{
    display: flex;
    justify-content: space-between;
    
}
.botoes {
    display: flex;
}

.descricao_titulo{
    color: var(--cor-secundaria);
    font-weight: 700;
}
    
.descricao_titulo-produto{
    color: var(--cor-roxo); 
    font-size: 18px;
    font-weight: 700; 
    margin: 0.5em 0;
}

.descricao_texto{
    font-size:14px;
}

.botoes_ancora{
    background-color:var(--cor-roxo);
    padding: 1em 2.2em;
    color:var(--cor-branco);
    font-weight: 700;
    text-decoration:none;
}

.botoes_item{
    margin:0 0.5em;
}



@media screen and (min-with: 1024px) {
    .carrossel__titulo{
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }
    .wiper{

    }
}

.swiper-button-prev, 
    .swiper-button-next {
        disply: block;
        top: 60%;
    }
    
@media screen and (min-width: 1728px){
    .carrosel_container {
        display: flex; 
        margin:00 20vw 3em 2vw;
        align-items: center;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper{
        width: 50%;
    }
}    
